.container {
  display: flex;
  flex-direction: column;
  background-color: #1f293d;

  &__tabs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1f293d;
    color: #ffffff;
    position: relative;
  }

  &__tab {
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: #ff8036;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &__active {
      color: #ff8036;

      &::after {
        opacity: 1;
      }
    }
  }

  &__sectionNota {
    display: flex;
    padding-bottom: 2%;
  }

  &__sectionNota ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    vertical-align: top;
    text-align: center;
  }

  &__list {
    font-size: 24px;
    font-style: bold;
    color: #ffffff;
  }

  &__listName {
    font-size: 14px;
    color: #637394;
    fill: solid;
  }

  &__section {
    padding: 0px 16px 16px 16px;
    font-size: 14px;
    background-color: #1a2232;
  }

  &__section ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
  }

  &__section p {
    margin: 0;
    padding-top: 0;
    color: #ffffff;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
  }

  &__sectionLabel {
    flex-basis: 30%;
    color: #637394;
  }

  &__sectionItem {
    color: #ffffff;
  }
}
