// @import 'styles/variaveis';
// @import 'styles/breakpoints';

.header {
  display: flex;
  height: 50px;
  font-size: 14px;
  line-height: 16px;
  // padding: 0px 0px 0px 0px;
  color: white;
  background-color: #1f293d;

  &__logo {
    width: 70px;
    margin-top: 10px;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }

  &__icon {
    width: 34px;
    margin-right: 2px;
  }

  &__itens {
    margin: 0;
    display: flex;
    cursor: pointer;
  }

  &__itens select {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
  }

  &__itens select option {
    appearance: none;
    background: none;
    border: none;
    color: #ffffff;
    background-color: #1f293d;
    font-size: 12px;
  }

  &__button {
    background-color: #ff8036;
    height: 36px;
    border-radius: 8px;
    border: none;
    color: white;
    margin-right: 4px;
  }
}
